body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-content-img {
    border: solid 0px #42515F;
}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color:#008CFF;
    text-transform: capitalize;
}

.book {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

.add-button {
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background: #008CFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    padding: 5px 18px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.person-detail-text {
    font: normal normal bold 24px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.person-count {
    background-color: #008CFF;
    color: #ffffff;
    border-radius: 42%;
    font-size: 16px;
    width: 26px;
    text-align: center;
    display: inline-block;
}

.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

td, th {
    text-align: center;
    padding: 5px 8px;
}

th {
    
    border-radius: 3px 3px 0px 0px;
    text-align: center;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #658292;
    text-transform: uppercase;
    opacity: 1;
}

tr:not(:first-child) {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #3D3D3D;
    border-radius: 3px;
}

td {
    font: normal normal 600 16px/19px Lato;
    letter-spacing: 0px;
    text-align: center;
    color: #3D3D3D;
    opacity: 1;
}

td:first-child {
    display: flex;
    align-items: center;
}

td img:first-child {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}